<div class="login-container">

    <h2>Login as {{ selectedRole }}</h2>

    <div class="role-toggle">
        <button type="button" (click)="selectRole('investor')" [class.active]="selectedRole === 'investor'">
            Investor
        </button>

        <button type="button" (click)="selectRole('founder')" [class.active]="selectedRole === 'founder'">
            Founder
        </button>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <input type="email" placeholder="Email" formControlName="email">
        <span class="error" *ngIf="email?.hasError('required') && (email?.touched || email?.dirty)">
            *Email is required
        </span>
        <span class="error" *ngIf="email?.hasError('pattern') && (email?.touched || email?.dirty)">
            *Please enter a valid   Email
        </span>

        <input type="password" placeholder="Password" formControlName="password">
        <span class="error" *ngIf="password?.hasError('required') && (password?.touched || password?.dirty)">
            *Password is required
        </span>
        <span class="error" *ngIf="password?.hasError('pattern') && (password?.touched || password?.dirty)">
            *Please enter a atleast 1 Uppercase letter and number !
        </span>


        <button type="submit">Login</button>
    </form>

</div>