<div class="container">
  <h2>Founder Information</h2>

  <form [formGroup]="founderForm" (ngSubmit)="onSubmit()">

    <!-- Personal Information -->
    <h3>Personal Info</h3>
    <input type="text" formControlName="fullName" placeholder="Full Name" required>
    <span class="error" *ngIf="fullName?.hasError('required')">*Name is required</span>
    <span class="error" *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched )"> *Please enter name </span>

    <input formControlName="email" placeholder="Email">
    <span class="error" *ngIf="email?.hasError('required') && (email?.touched || email?.dirty)">
      *Email is required
    </span>
    <span class="error" *ngIf="email?.hasError('pattern') && (email?.touched || email?.dirty)">
      *Please enter a valid Email
    </span>

    <input type="password" formControlName="password" placeholder="Password">
    <span class="error" *ngIf="password?.hasError('required') && (password?.touched || password?.dirty)">
      *Password is required
    </span>
    <span class="error" *ngIf="password?.hasError('pattern') && (password?.touched || password?.dirty)">
      *Please enter a atleast 1 Uppercase letter and number !
    </span>

    <input formControlName="phone" placeholder="Phone">
    <span class="error" *ngIf="phone?.hasError('required') && (phone?.touched || phone?.dirty)">
      *Phone number is required
    </span>
    <span class="error" *ngIf="phone?.hasError('pattern') && (phone?.touched || phone?.dirty)">
      *Enter a valid 10-digit phone number starting with 6–9
    </span>

    <input formControlName="location" placeholder="Location">
    <span class="error" *ngIf="location?.hasError('required')">*Location is required</span>
    <span class="error" *ngIf="location?.hasError('pattern')">
      *Location should contain letters only
    </span>

    <input formControlName="linkedin" placeholder="LinkedIn">
    <span class="error" *ngIf="linkedin?.hasError('pattern')">
      *Enter a valid LinkedIn profile URL (example: https://www.linkedin.com/in/username)
    </span>

    <input formControlName="website" placeholder="Website">
    <span class="error" *ngIf="website?.hasError('pattern')">
      *Enter a valid website URL
    </span>

    <!-- Company Details -->
    <h3>Company Details</h3>
    <input formControlName="companyName" placeholder="Company Name">
    <span class="error" *ngIf="companyName?.hasError('required')">*Company name is required</span>
    <span class="error" *ngIf="companyName?.invalid && (companyName?.dirty || companyName?.touched )"> *Please enter
      company name </span><br>

    <!-- <input formControlName="industry" placeholder="Industry"> -->

    <label for=""> Indurstry List : </label><br><br>
    <div *ngFor="let item of businessList">
      <input type="checkbox" [value]="item" (change)="onCategoryChange($event)"
        [checked]="founderForm.get('businessCategory')?.value?.includes(item)" />
      {{ item }}
    </div>
    <span class="error" *ngIf="businessCategory?.hasError('required')">*Businesss required</span>
    <span class="error" *ngIf="businessCategory?.invalid && (businessCategory?.dirty || businessCategory?.touched )">
      *Please enter business type </span>
    <br>
    <!-- <input formControlName="businessModel" placeholder="Business Model"> -->

    <label for="businessModel">Business Model</label>
    <select formControlName="businessModel" multiple class="business-model-dropdown">
      <option *ngFor="let model of businessModels" [value]="model.name">
        {{ model.name }} — {{ model.description }} (Eg: {{ model.example }})
      </option>
    </select>
    <span class="error" *ngIf="businessModel?.hasError('required')">*Businesss mode; required</span>
    <span class="error" *ngIf="businessModel?.invalid && (businessModel?.dirty || businessModel?.touched )"> *Please
      enter business model </span>



    <input formControlName="foundedYear" type="number" placeholder="Founded Year">
    <span class="error" *ngIf="foundedYear?.hasError('required')">*founded year required</span>
    <span class="error" *ngIf="foundedYear?.invalid && (foundedYear?.dirty || foundedYear?.touched )"> *Please enter
      founded year </span>

    <input formControlName="teamSize" type="number" placeholder="Team Size">
    <span class="error" *ngIf="teamSize?.hasError('required')">*Team Size required</span>
    <span class="error" *ngIf="teamSize?.invalid && (teamSize?.dirty || teamSize?.touched )"> *Please enter team size
    </span>


    <!-- Market Overview -->
    <h3>Market & Business</h3>
    <textarea formControlName="problem" placeholder="Problem"></textarea>
    <span class="error" *ngIf="problem?.hasError('required')">*problem of business required</span>
    <span class="error" *ngIf="problem?.invalid && (problem?.dirty || problem?.touched )"> *Please enter problem of your
      business </span>

    <textarea formControlName="solution" placeholder="Solution"></textarea>
    <span class="error" *ngIf="solution?.hasError('required')">*solution required</span>
    <span class="error" *ngIf="solution?.invalid && (solution?.dirty || solution?.touched )"> *Please enter solution
    </span>

    <textarea formControlName="targetMarket" placeholder="Target Market"></textarea>
    <span class="error" *ngIf="targetMarket?.hasError('required')">*Targeted market required</span>
    <span class="error" *ngIf="targetMarket?.invalid && (targetMarket?.dirty || targetMarket?.touched )"> *Please enter
      target market</span>

    <textarea formControlName="usp"
      placeholder="USP , Why should an investor or customer choose you instead of others?"></textarea>
    <span class="error" *ngIf="usp?.hasError('required')">*USP required</span>
    <span class="error" *ngIf="usp?.invalid && (usp?.dirty || usp?.touched )"> *Please enter USP </span>

    <textarea formControlName="competitors" placeholder="Competitors"></textarea>
    <span class="error" *ngIf="competitors?.hasError('required')">*Competitors required</span>
    <span class="error" *ngIf="competitors?.invalid && (competitors?.dirty || competitors?.touched )"> *Please enter
      competitors </span>


    <!-- Financials -->
    <h3>Financials</h3>
    <input formControlName="revenue" type="number" placeholder="Revenue">
    <span class="error" *ngIf="revenue?.hasError('required')">*Revenue required</span>
    <span class="error" *ngIf="revenue?.invalid && (revenue?.dirty || revenue?.touched )"> *Please enter revenue </span>

    <input formControlName="burnRate" type="number"
      placeholder="Burn Rate : How fast your startup spends money every month">
    <span class="error" *ngIf="burnRate?.hasError('required')">*Burnrate required</span>
    <span class="error" *ngIf="burnRate?.invalid && (burnRate?.dirty || burnRate?.touched )"> *Please enter burnrate
    </span>

    <input formControlName="cac" type="number" placeholder="CAC : How much money you spend to get 1 customer.">
    <span class="error" *ngIf="cac?.hasError('required')">*CAC required</span>
    <span class="error" *ngIf="cac?.invalid && (cac?.dirty || cac?.touched )"> *Please enter cac </span>

    <input formControlName="ltv" type="number"
      placeholder="LTV : How much total money 1 customer gives your business before they stop using it.">
    <span class="error" *ngIf="ltv?.hasError('required')">*LTV required</span>
    <span class="error" *ngIf="ltv?.invalid && (ltv?.dirty || ltv?.touched )"> *Please enter ltv </span>

    <input formControlName="totalFunding" type="number"
      placeholder="Total Funding : Total money raised so far from investors">
    <span class="error" *ngIf="totalFunding?.hasError('required')">*Total funding required</span>
    <span class="error" *ngIf="totalFunding?.invalid && (totalFunding?.dirty || totalFunding?.touched )"> *Please enter
      total funding </span>


    <!-- Funding Requirement -->
    <h3>Funding Requirement</h3>
    <input formControlName="amountRequired" type="number" placeholder="Amount Required">
    <span class="error" *ngIf="amountRequired?.hasError('required')">*Amount required</span>
    <span class="error" *ngIf="amountRequired?.invalid && (amountRequired?.dirty || amountRequired?.touched )"> *Please
      enter require amount </span>

    <input formControlName="equityOffered" type="number" placeholder="Equity Offered (%)">
    <span class="error" *ngIf="equityOffered?.hasError('required')">* Equity offer required</span>
    <span class="error" *ngIf="equityOffered?.invalid && (equityOffered?.dirty || equityOffered?.touched )"> *Please
      enter equity offer </span>

    <input formControlName="valuation" type="number" placeholder="Valuation">
    <span class="error" *ngIf="valuation?.hasError('required')">*Total Valuation required</span>
    <span class="error" *ngIf="valuation?.invalid && (valuation?.dirty || valuation?.touched )"> *Please enter total
      valuation </span>


    <button type="submit" (click)="onSubmit()">Submit</button>

  </form>
</div>