<div class="container">
    <h2>Investor Information</h2>

    <form [formGroup]="investorForm" (ngSubmit)="onSubmit()">

        <!-- PERSONAL INFO -->
        <h3>Personal Information</h3>
        <input type="text" formControlName="fullName" placeholder="Full Name" required>
        <span class="error" *ngIf="fullName?.hasError('required')">*Name is required</span>
        <span class="error" *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched )"> *Please enter name
        </span>

        <input formControlName="email" placeholder="Email">
        <span class="error" *ngIf="email?.hasError('required') && (email?.touched || email?.dirty)">
            *Email is required
        </span>
        <span class="error" *ngIf="email?.hasError('pattern') && (email?.touched || email?.dirty)">
            *Please enter a valid Email
        </span>

        <input type="password" formControlName="password" placeholder="Password">
        <span class="error" *ngIf="password?.hasError('required') && (password?.touched || password?.dirty)">
            *Password is required
        </span>
        <span class="error" *ngIf="password?.hasError('pattern') && (password?.touched || password?.dirty)">
            *Please enter a atleast 1 Uppercase letter and number !
        </span>

        <input formControlName="phone" placeholder="Phone">
        <span class="error" *ngIf="phone?.hasError('required') && (phone?.touched || phone?.dirty)">
            *Phone number is required
        </span>
        <span class="error" *ngIf="phone?.hasError('pattern') && (phone?.touched || phone?.dirty)">
            *Enter a valid 10-digit phone number starting with 6–9
        </span>

        <input formControlName="location" placeholder="Location">
        <span class="error" *ngIf="location?.hasError('required')">*Location is required</span>
        <span class="error" *ngIf="location?.hasError('pattern')">
            *Location should contain letters only
        </span>

        <input formControlName="linkedin" placeholder="LinkedIn">
        <span class="error" *ngIf="linkedin?.hasError('pattern')">
            *Enter a valid LinkedIn profile URL (example: https://www.linkedin.com/in/username)
        </span>

        <input formControlName="website" placeholder="Website">
        <span class="error" *ngIf="website?.hasError('pattern')">
            *Enter a valid website URL
        </span>

        <!-- INVESTMENT PREFS -->
        <h3>Investment Preferences</h3>

        <label>Minimum Investment :</label>
        <select formControlName="investmentMin">
            <option value="5 Lacks">5 Lacks</option>
            <option value="10 Lacks">10 Lacks</option>
            <option value="15 Lacks">15 Lacks</option>
            <option value="20 Lacks">20 Lacks</option>
            <option value="25 Lacks">25 Lacks</option>
            <option value="30 Lacks">30 Lacks</option>
            <option value="35 Lacks">35 Lacks</option>
            <option value="40 Lacks">40 Lacks</option>
        </select>
        <span class="error" *ngIf="investmentMin?.hasError('required') 
             && (investmentMin?.touched || investmentMin?.dirty)">
            *Minimum investment is required
        </span><br>

        <label>Maximum Investment :</label>
        <select formControlName="investmentMax">
            <option value="10 Lacks">10 Lacks</option>
            <option value="20 Lacks">20 Lacks</option>
            <option value="30 Lacks">30 Lacks</option>
            <option value="40 Lacks">40 Lacks</option>
            <option value="50 Lacks">50 Lacks</option>
            <option value="60 Lacks">60 Lacks</option>
            <option value="70 Lacks">70 Lacks</option>
            <option value="80 Lacks">80 Lacks</option>
            <option value="90 Lacks">90 Lacks</option>
            <option value="1 Cr">1 Cr</option>
        </select>
        <span class="error" *ngIf="investmentMax?.hasError('required') 
             && (investmentMax?.touched || investmentMax?.dirty)">
            *Minimum investment is required
        </span><br>

        <label for=""> Indurstry List : </label><br><br>
        <div *ngFor="let item of businessList">
            <input type="checkbox" [value]="item" (change)="onCategoryChange($event)"
                [checked]="investorForm.get('businessCategory')?.value?.includes(item)" />
            {{ item }}
        </div>
        <span class="error" *ngIf="businessCategory?.hasError('required')">*Businesss required</span>
        <span class="error"
            *ngIf="businessCategory?.invalid && (businessCategory?.dirty || businessCategory?.touched )">
            *Please enter business type </span>
        <br>

        <!-- <input formControlName="startupStage" placeholder="Startup Stage (Seed, Series A...)"> -->
        <label for="startupStage">Startup Stage (Seed, Series A...)</label>
        <select name="startupStage" id="" formControlName="startupStage">
            <option value="Idea Stage">Idea Stage : Business is only an idea , No product,Research and planning phase
            </option>
            <option value="Pre-Seed Stage">Pre-Seed Stage : Early validation Prototype development,Founders use personal
                savings,Very small team</option>
            <option value="Seed Stage">Seed Stage : MVP (Minimum Viable Product) ready,First customers/start of
                revenue,Looking for first serious investors</option>
            <option value="Early Stage / Pre-Series A">Early Stage / Pre-Series A : Product is improving, Small but
                growing user base,Need money for marketing, hiring, scaling</option>
            <option value="Series A">Series A : Strong traction & revenue ,Proven business model, Aim: expand and
                optimize</option>
            <option value="Series B">Series B : Scaling fast ,Strong market presence ,Aim: expand into new markets, hire
                big teams</option>
            <option value="Series C">Series C : Large company ,Expanding globally ,Acquisitions, product diversification
            </option>
            <option value="Growth Stage / Expansion">Growth Stage / Expansion : Sustainable revenue & profit ,Strong
                customer base, Heavy scaling</option>
            <option value="Pre-IPO (Initial Public Offering)">Pre-IPO (Initial Public Offering) : Company preparing to
                be listed on stock market ,Massive investments and compliance</option>
            <option value="IPO / Public Company">IPO / Public Company : Company sells shares to public ,Fully matured
            </option>
        </select>
        <span class="error" *ngIf="startupStage?.hasError('required') 
             && (startupStage?.touched || startupStage?.dirty)">
            *Stage of startup required
        </span>
        <!-- <input formControlName="investmentType" placeholder="Investment Type (Equity/Debt)"> -->
        <label for="investmentType">Investment Type (Equity/Debt)</label>
        <select name="investmentType" formControlName="investmentType" id="">
            <option value="Equity Investment">Equity Investment : Investor gets ownership (shares) in the company.
            </option>
            <option value="Debt Investment">Debt Investment : Investor gives money as a loan, and business must repay
                with interest.</option>
            <option value="Convertible Debt / Convertible Notes">Convertible Debt / Convertible Notes : Starts as a
                loan, converts into equity later.</option>
            <option value="SAFE (Simple Agreement for Future Equity)">SAFE (Simple Agreement for Future Equity) :
                Investor gets the right to future equity — without interest or maturity date.</option>
            <option value="Revenue-Based Financing">Revenue-Based Financing : Investor gets a fixed percentage of
                monthly revenue until repayment is done.</option>
            <option value="Grants (Non-Equity Funding)">Grants (Non-Equity Funding) : Free money given by government,
                NGOs, or startup programs.</option>
            <option value="Partnership Investment">Partnership Investment : Investor becomes a business partner with
                profit-sharing (common in small local businesses).</option>
            <option value="Asset-Based Investment">Asset-Based Investment : Investor funds assets like: Machines
                ,Vehicles ,Shops ,Gold and earns returns.</option>
        </select>
        <span class="error" *ngIf="investmentType?.hasError('required') 
               && (investmentType?.touched || investmentType?.dirty)">
            *Investment type required
        </span>


        <!-- <input formControlName="riskAppetite" placeholder="Risk Appetite (Low / Medium / High)"> -->
        <label for="riskAppetite">Risk Appetite (Low / Medium / High)</label>
        <select name="riskAppetite" formControlName="riskAppetite" id="">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
        <span class="error" *ngIf="riskAppetite?.hasError('required') 
               && (riskAppetite?.touched || riskAppetite?.dirty)">
            *Investment type required
        </span>

        <label for="businessModel">Business Model</label>
        <select formControlName="businessModel" multiple class="business-model-dropdown">
            <option *ngFor="let model of businessModels" [value]="model.name">
                {{ model.name }} — {{ model.description }} (Eg: {{ model.example }})
            </option>
        </select>
        <span class="error" *ngIf="businessModel?.hasError('required')">*Businesss mode; required</span>
        <span class="error" *ngIf="businessModel?.invalid && (businessModel?.dirty || businessModel?.touched )"> *Please
            enter business model </span>

        <h3>Background</h3>
        <input formControlName="currentRole" placeholder="Current Role">
        <span class="error" *ngIf="currentRole?.hasError('required') 
               && (currentRole?.touched || currentRole?.dirty)">
            *Investment type required
        </span>
        <input formControlName="companyName" placeholder="Company Name">
        <input type="number" formControlName="experienceYears" placeholder="Experience (Years)">
        <span class="error" *ngIf="experienceYears?.hasError('required') 
               && (experienceYears?.touched || experienceYears?.dirty)">
            *Do you have any experience required
        </span>
        <textarea formControlName="fundedStartups" placeholder="Previously Funded Startups"></textarea>
        <span class="error" *ngIf="fundedStartups?.hasError('required') 
               && (fundedStartups?.touched || fundedStartups?.dirty)">
            * Are you funded any startup previously required ?
        </span>
        <input type="number" formControlName="totalCapitalInvested" placeholder="Total Capital Invested">
        <span class="error" *ngIf="totalCapitalInvested?.hasError('required') 
               && (totalCapitalInvested?.touched || totalCapitalInvested?.dirty)">
            *How much capital are you invested ?
        </span>

        <button type="submit">Submit</button>
    </form>
</div>